@import "tailwindcss";
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  /* background-color: #A1E3F9; */
  font-family: "Figtree";

}

.pt-serif-regular {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.pt-serif-bold {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: normal;
}

.pt-serif-regular-italic {
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: italic;
}

.pt-serif-bold-italic {
  font-family: "PT Serif", serif;
  font-weight: 700;
  font-style: italic;
}


label{
  @apply text-white
}

body{
  @apply text-white flex flex-col items-center  
}
select{
  @apply text-white cursor-pointer
  hover:bg-[rgba(10,36,114,0.8)]
  active:bg-[rgba(10,36,114,0.8)]
  focus:bg-[rgba(10,36,114,0.8)]
  bg-[#0A2472] 
  focus:border-none focus:outline-none
  border-none
}
option{
  @apply text-white cursor-pointer   
  hover:bg-[rgba(10,36,114,0.8)]
  active:bg-[rgba(10,36,114,0.8)]
  focus:bg-[rgba(10,36,114,0.8)]
  bg-[rgba(18,52,153,1)]
  focus:border-none focus:outline-none
  border-none
}

button{
  @apply text-black 
  hover:cursor-pointer hover:-translate-y-0.5 hover:bg-[#f3f3f3] hover:shadow-xl 
  transition-all duration-300
}
.button{
  @apply bg-white rounded-sm px-3 py-2 shadow-sm
  hover:-translate-y-0.5 hover:rotate-2 hover:shadow-md
  transition-all duration-150
}
.add-button{
  @apply relative bottom-8 px-10  bg-[#123499] text-white hover:bg-[rgba(26,67,191,0.6)]
}
.back-button{
  @apply bg-[#123499] rounded-xl p-4 pl-5 shadow-sm flex flex-col justify-center items-center self-center
  hover:-translate-y-0.5 hover:rotate-4 hover:shadow-md hover:bg-[rgba(26,67,191,0.6)]
  transition-all duration-150
}
input{
  @apply 
   rounded-sm px-3 py-2 bg-[#0A2472] text-base text-white border-none
   hover:bg-[rgba(10,36,114,0.8)]
   active:bg-[rgba(10,36,114,0.8)]
   focus:bg-[rgba(10,36,114,0.8)]
  focus:outline-0
}
input:focus{
  box-shadow: 0px 5px 35px 0px rgba(139, 156, 242, 0.3);
}
.span{
  @apply text-base italic underline w-[150px] text-white
}
h1{
  @apply text-3xl text-white
}
.looking-at-animation{
  @apply hover:-translate-y-0.5 transition-all duration-200 hover:bg-white/70
}
.accent-color{
  @apply text-[#0A2472];
}
.grid-tile-x{
  @apply border-[1px]  border-[rgba(255,255,255,0.3)] h-[5vh] w-[5vw] bg-[#00072D]
  hover:bg-[rgba(10,36,114,1)] hover:rounded-sm hover:scale-125 hover:cursor-crosshair
  
  transition-all duration-100
}

.bg-color{
  @apply bg-[#123499]
}
/* .card-bg-color{ 
  @apply bg-[#051650]
} */
.card-bg-color{ 
  @apply bg-[#0A2472] hover:bg-[rgba(10,36,114,0.8)]
}
h3{
  @apply text-white
}
.card-shadow{
  box-shadow: 0,10px,100px rgba(255, 255, 255, 1);
}




